#contact-us{
    display: none;
    border-radius: 10px;
    height: 100vh;
    margin-bottom: 5rem;
}
#contact-us-title, #membership-title, #tulong-form-title h1{
    background-color: #111;
    padding: 5rem;
    color: white;
    font-size: 2rem;
    text-align: center;
}
#contact-sub-con{
    display: flex;
    justify-content: center;
    align-items: center;
}
#contact-us-text{
    width: 40vw;
}
#text-con{
    margin-bottom: 2rem;
}
#contact-us-text h1{
    font-size: 2rem;
}
#contact-us-text p{
    font-size: 1.1rem;
}
#contact-form{
    background-color: white;
    border: 1px solid #ccc; 
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    margin: 2rem;
    width: 45vw;
}
#contact-form form{
    padding: 3rem 3rem 3rem 3.5rem;
    margin: auto auto;
    
}
#contact-form #name{
    width: 33.8vw;
}
#contact-form input{
    border-radius: 10px;
    border: 1px solid black;
    padding: 1rem 0 1rem .3rem;
    margin: .4rem 0;
    width: 16.5vw;
}
#send-mes-btn{
    border: none;
    background-color: transparent;
    border-radius: 10px;
    padding: .8rem 1.5rem;
    color: white;
    background: black;
    margin-top: .4rem;
    font-size: 1.1rem;
}
#message-area{
    height: 12rem;
    width: 33.8vw;
    border-radius: 10px;
    border: 1px solid black;
}

/* membership form*/

#membership{
    display: none;
}
#membership-form input{
    border-radius: 10px;
    border: 1px solid black;
    padding: 1rem 1rem 1rem .3rem;
    font-size: .8rem;
    margin: .4rem 0;
    min-width: 18vw;
    background-color: #fcfcfc;
}
#membership-form{
    margin: auto auto;
    width: 85vw;
    margin-bottom: 5rem;
}
#membership-form h1{
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 1.8rem;
}
#membership-form div{
    display: inline-block;
     margin: 0 .5rem 0 .5rem;
}
#membership-form span, #tulong-form span{
    color:red;
}
#membership-btn button{
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    padding: 1rem 0;
    background-color: black;
    color: white;
    width: 10rem;
    border-radius: 10px;
    margin-top: 3rem;
    margin-bottom: 1rem; 
}

/* request assistance form  */
#request-assistance{
    display: none;
}
#request-assist-title h1{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
#request-assist-title{
    text-align: center;
    margin: auto auto;
}
#tulong-form-title{
    width: 100vw;
    margin: 0;
}
#tulong-form{
    width: 80vw;
    margin: 0 auto;
}
.con-input{
    display: inline-block;
    padding: 1rem 0;
    width: 22.5rem;
}
.con-input input, #gender{
    border-radius: 10px;
    border: 1px solid black;
    padding: .8rem 0 .8rem .3rem;
    margin: .4rem 0;
    background-color: #fcfcfc;
    width: 22rem;
}
#saudi-con input{
    width: 22rem;
    }
#agency input{
    width: 22rem;
    }
#complaint-mes{
    border: black 1px solid;
    height: 15vh;
    border-radius: 10px;
    margin-top: .8rem;
    padding-left: .3rem;
    width: 22rem;
}
#req-sub-btn{
    border: none;
    background-color: transparent;
    background-color: black;
    color: white;
    font-size: 1.2rem;
    border-radius: 10px;
    padding: .7rem 1.2rem;
    margin-top: 1rem;
}
hr{
    border: dotted 1px #ccc;
}
  
@media (max-width:410px){
    /* contact-us */
    #contact-form{
        margin: auto auto;
    }
    #contact-form form{ 
        padding: 2rem 2rem;
        margin: auto auto;
    }

    /* request assistance */
    .con-input{
        width: 18rem;
    }
    #saudi-con input{
        width: 16rem;
    }
    #agency input{
        width: 16rem;
    }
    .con-input input, #gender, #complaint-mes{
        width: 16rem; 
    }
}
@media (min-width:1480px){
    #saudi-con input{
        width: 44.8rem;
    }
    #agency input{
        width: 67.5rem;
    }
    #upload-file input{
        padding: 0;
        width: 12rem;
    }
    #complaint-mes{
        margin-top: 2rem;
        width: 67.5rem
    }
    #tulong-form{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
@media (max-width: 1010px) {
    
    /* contact-us */

    #contact-sub-con{
        display: block;
        width: 100vw;
    }
    #contact-us-text{
        width: 90vw;
        margin: auto auto;
        margin-top: 2rem;
    }
    #contact-form{
        width: 90vw;
    }
    #contact-form form{
        margin: auto auto;
    }
    
    #contact-form #name{
        width: 70vw;
    }
    #contact-form input{
        width: 70vw;
    }
     #message-area{
       width: 70vw;
    }
}
@media (max-width: 960px) {

    /* membership */

    #membership-form input{
        min-width: 70vw;
    }
     #membership-form div{
        margin-left: 1rem;
    }
   

}

